<div class="col-xs-12 col-sm-6 col-md-4 map">
  <h3>Маршрут</h3>
  <form method="post">
    <input class="form-control" name="point" placeholder="Новая точка маршрута" autocomplete="off" ng-model="vm.newPoint" ng-keyup="$event.keyCode == 13 ? vm.pointEntered(this.value) : null">
  </form>
  <notification></notification>
    <ol class="points-list">
      <li class="point-block" ng-repeat="point in vm.points" id="point_{{point.index}}">
        <point data="point" remove-point="vm.removePoint(point.index)" change-point="vm.changePoint(point.index, name)"></point>
      </li>
    </ol>
  <button class="btn btn-default" ng-click="vm.createRoute()">Построить маршрут</button>
</div>
<div class="col-xs-12 col-sm-6 col-md-8">
  <div id="map">

  </div>
</div>
